@model EntityLayer.Concrete.Review
@{
    ViewData["Title"] = "ReviewDetails";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">
<body>
    <!-- Page top section -->
    <section class="page-top-section set-bg" data-setbg="/endgame-master/img/page-top-bg/1.jpg">
        <div class="page-info">
            <h2>İncelemeler</h2>
            <div class="site-breadcrumb">
                <a href="/Default/Index/">Anasayfa</a>  /
                <span>İncelemeler</span>
            </div>
        </div>
    </section>
    <!-- Page top end-->
    <!-- Games section -->
    <section class="games-single-page">
        <div class="container">
            <div class="game-single-preview">
                <img src="@Model.ImageUrl" alt="">
            </div>
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
                    <div class="gs-meta">@Model.Date.ToShortDateString()</div>
                    <h2 class="gs-title">@Model.GameName</h2>
                    <h4>@Model.Header</h4>
                    <p>@Model.Description</p>
                    <h4>@Model.Title</h4>
                    <p>
                        @Model.Description2
                    </p>
                    <div class="geme-social-share pt-5 d-flex">
                        <p>Paylaş:</p>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
                    <div id="stickySidebar">
                        <div class="widget-item">
                            <div class="rating-widget">
                                <div class="rating">
                                    <h5><i>Rating</i><span>@Model.Rating</span> / 10</h5>
                                </div>
                            </div>
                        </div>
                        <div class="widget-item">
                            <div class="testimonials-widget">
                                <h4 class="widget-title">Referanslar</h4>
                                <div class="testim-text">
                                    <p>@Model.Testimonial.Comment</p>
                                    <h3>@Model.Testimonial.Name</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Games end-->

    <section class="game-author-section">
        <div class="container">
            <div class="game-author-pic set-bg" data-setbg="@Model.AppUser.ImageUrl"></div>
            <div class="game-author-info">
                <h4>@Model.AppUser.Name @Model.AppUser.Surname tarafından yazıldı.</h4>
            </div>
        </div>
    </section>
</body>
</html>